<!------Slider start-->
<div class="slider relative">



    <div *ngFor="let slide of slides; let i = index" class=" w-full h-full " [hidden]="i !==currentSlide">
        <img [src]="URL + slide.images" class="w-full h-[70vh]" alt="Slide {{i}}">

        <div class="container pt-28 pb-24 md:pb-36 lg:pb-54 xl:pb-70 relative bottom-[25rem] z-20" >
            <h1 class="text-4xl xl:text-6xl md:text-5xl text-white font-semibold mb-4"> {{slide.title}} </h1>
            <p class="text-base text-gray-700 leading-7">{{slide.description}}</p>
            <div class="mt-12">
                <a class="bg-primary border border-primary
             text-white px-8 py-3 font-medium rounded-xl uppercase hover:bg-red-950 transition "
                    routerLink="{{slide.urlLink}}">Shop now

                </a>

            </div>

        </div>
        <div class="relative bottom-[47rem]">
            <button (click)="prevSlide()" class="absolute left-0 top-1/2 transform -translate-y-1/2 px-6 py-3 bg-primary text-white rounded-lg">
                <i class="fa-solid fa-arrow-left"></i>
            </button>
            <button (click)="nextSlide()" class="absolute right-0 top-1/2 transform -translate-y-1/2 px-6 py-3 bg-primary text-white rounded-lg">
                <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>

    </div>




</div>